<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPCine.Properties.Settings.cines_finalConnectionString"
            connectionString="Data Source=DESKTOP-72P6KAS\SQLEXPRESS;Initial Catalog=cines_final;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TPCine.Properties.Settings.cines_finalConnectionString1"
            connectionString="Data Source=DESKTOP-KND7ROK;Initial Catalog=cines_final;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>